.superInput:focus {
    box-sizing: border-box;
    border-radius: 4px;
    background-color: lightblue;
    margin-top: 10px
}

.errorInput {
    border-radius: 4px;
    border: 3px solid red;
    background: darkred;
    box-sizing: border-box;


}

.error {
    color: tomato;
}